.btn{
    color:black;
    background-color: orange;
    width: 200px;
}
p{
   text-decoration: underline;
}
.log{
    position: absolute;
    width: 50%;
    
}
.log1{
    padding-left: 60%;
    height: 200px;
}
    
